.wh-0 {
	width: 0 !important;
	height: 0 !important;
	display: none;
}

.checkbox label:after {
	content: '';
	display: table;
	clear: both;
}

.checkbox .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: .25em;
	width: 1.3em;
	height: 1.3em;
	float: left;
	margin-right: .5em;
}

.checkbox .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;
	left: 15%;
}

.checkbox label input[type="checkbox"] {
	display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
	opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
	opacity: .5;
}


.invoice {
	position: relative;
	background-color: #FFF;
	min-height: 680px;
}

.invoice header {
	padding: 10px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #3989c6
}

.invoice .company-details {
	text-align: right
}

.invoice .company-details .name {
	margin-top: 0;
	margin-bottom: 0
}

.invoice .contacts {
	margin-bottom: 20px
}

.invoice .invoice-to {
	text-align: left
}

.invoice .invoice-to .to {
	margin-top: 0;
	margin-bottom: 0
}

.invoice .invoice-details {
	text-align: right
}

.invoice .invoice-details .invoice-id {
	margin-top: 0;
	color: #3989c6
}


.invoice main .thanks {
	font-size: 2em;
}

@media (min-width:768px) {
	.invoice-id {
		font-size: 13px;
	}

	.invoice main .thanks {
		margin-top: -80px;
		margin-bottom: 50px
	}
}

.invoice main .notices {
	padding-left: 6px;
	border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
	font-size: 1.2em
}

.invoice table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px
}

.invoice table td,
.invoice table th {
	background: #eee;
	border-bottom: 1px solid #fff
}

.invoice table th {
	white-space: nowrap;
	font-weight: 400;
}

.invoice table td h3 {
	margin: 0;
	font-weight: 400;
	color: #3989c6;
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
	text-align: right;
}

.invoice table .no {
	color: #fff;
	font-size: 1.6em;
	background: #3989c6
}

.invoice table .unit {
	background: #ddd
}

.invoice table .total {
	background: #3989c6;
	color: #fff
}

.invoice table tbody tr:last-child td {
	border: none
}

.invoice table tfoot td {
	background: 0 0;
	border-bottom: none;
	white-space: nowrap;
	text-align: right;
	border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
	border-top: none
}

.invoice table tfoot tr:last-child td {
	color: #3989c6;
	border-top: 1px solid #3989c6
}

.invoice table tfoot tr td:first-child {
	border: none
}

.invoice footer {
	width: 100%;
	text-align: center;
	color: #777;
	border-top: 1px solid #aaa;
	padding: 8px 0
}

@media (m-width:350px) {}

@media screen {

	#section-to-print,
	.d-print {
		display: none;
	}
}


@media print {

	body * {
		visibility: hidden;
		overflow: hidden !important;
		margin: 0px;
	}


	@page {
		margin: 0.06in;
	}

	#section-to-print,
	#section-to-print * {
		visibility: visible;
	}

	#section-to-print {
		margin: auto;
		width: 75mm;
		font-size: 10px;
		position: absolute;
		left: 0;
		top: 0;
	}

	#section-to-print h2 {
		font-size: 13px;
	}

	#section-to-print h3 {
		font-size: 10px;
		margin: 0;
	}




	#section-to-print .invoice {
		font-size: 11px !important;
		overflow: hidden !important
	}


	#section-to-print main {
		margin: 5px 0;
	}

	#section-to-print .invoice footer {
		padding: 2px 0px;
	}

	#section-to-print .thanks {
		margin-top: 0px;
		margin-bottom: 5px
	}

	#printSection {
		position: absolute;
		left: 0;
		top: 0;
	}

}
